body {
  font-family: 'PT Sans', sans-serif;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.mt-2 {
  margin-top: 20px;
}

.ml-2 {
  margin-left: 20px;
}

.justify-content-end {
  justify-content: flex-end;
}

.d-none, .choice-id {
  display: none;
}

.f-1rem {
  font-size: 1rem;
}

.center-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-decor {
  text-decoration: none;
}

.bg-green {
  background-color: #4CAF50 !important;
}

.bg-blue {
  background-color: #3F51B5 !important;
}

.bg-orange {
  background-color: #FF9800 !important;
}

.bg-red {
  background-color: #F44336 !important;
}

.text-red {
  color: #F44336 !important;
}

.text-green {
  color: #4CAF50 !important;
}

.text-white {
  color: white;
}

.btn {
  font-size: 1rem;
  padding: 10px;
  background-color: #CCCCCC;
  border-radius: 3px;
  cursor: pointer;
}


input {
  font-size: 1rem;
  padding: 9px;
  border: 0.7px #80808087 solid;
  border-radius: 3px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px;
  font-size: 1rem;
  border-radius: 2px;
}

select:focus {
  outline: none;
}

.input-choice {
}

ol {
  font-size: 1.2rem;
}

#choice-list-wrapper {
  min-width: 600px;
}

.item-choice {

}

.choice-action {
  padding: 8px;
  margin: 10px 10px 10px 2px;
  display: inline-block;
  text-align: left;
}

.choice-action:hover {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.right-align-wrapper {
  text-align: right;
}

#btn_create_poll {
  min-width: 70px;
  padding: 8px;
  margin: 10px;
  font-size: 1rem;
}

#submit-wrapper {
  width: 100%;
  font-size: 1rem;
}

#btn-create-poll {
  position: relative;
  align-self: flex-end;
}

#choice_list_wrapper {
  width: 600px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.choice-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-choice {
  display: flex;
  flex-flow: column;
}

#poll-create-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

#input_new_choice {
  border: 0.5px #cccccc00 solid;
}

#input_new_choice:focus {
  outline: none;
}

#input_final_pick_count {
  display: none;
}

.choice, .choice-plus, .vote-choice, .vote-choice-plus {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}

.choice, .vote-choice {
  width: 300px;
  color: #000000b0;
  border: 0.7px #CCCCCC8a solid;
}

.choice span, .choice-plus span, .vote-choice span, .vote-choice-plus span,
.choice-result span {
  display: inline-block;
  min-height: 2.2rem;
  line-height: 2.2rem;
}

.choice-plus span, .vote-choice-plus span {
  font-weight: bold;
}

.choice:first-child .up {
  display: none;
}

.choice:first-child .down {
  margin-top: auto;
}

.choice:last-child .down {
  display: none;
}

.move-wrapper {
  display: inline-block;
  display: flex;
  flex-flow: column;
}

#vote_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#input_voter_name {
  margin-right: 10px;
  flex-grow: 1;
}

#poll_wrapper {
  display: flex;
}

#choice_plus {
  width: 50px;
}

.h-100 {
  height: 100%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.choice-results {
  min-width: 800px;
}

.choice-result {
  display: flex;
  text-align: left;
  word-wrap: break-word;
  margin-top: 20px;
}

.choice-result span:first {
  width: 100%;
  font-size: 1.3rem;
}

.choice-result-bar {
  height: 2rem;
  background: #d27676;
  margin-left: 10px;
  border-radius: 2px;
  width: 0%;
}

.choice-result-tray {
  display: flex;
  align-items: center;
}

.font-22 {
  font-size: 2.2rem;
}

.font-13 {
  font-size: 1.3rem;
}

.text-align-right {
  text-align: right !important;
}

.text-align-left {
  text-align: left !important;
}

.voter-name {
  text-align: right;
  font-size: 1.3rem;
}

.vote {
  display: flex;
}

.vote-points {
  margin-left: 10px;
  text-align: left;
}

@keyframes team_list_expand {
  from {
    width: 0px;
  }

  to {
    width: 10%;
    min-height: 60px;
    margin-left: 10px;
  }
}

.choice-result.fade-out {
  animation: fade_out 1s forwards 0s 1;
}

.choice-result-value {
  cursor: pointer;
}

.choice-result-tray.hidden {
  animation: fade_out 0.5s forwards 0s 1;
}

.choice-result.height-shrink {
  animation: height_shrink 1s forwards 0s 1, fade_out 0.5s forwards 0s 1;
}

.choice-result-tray.shrink {
  animation: shrink 0.5s ease-out 0s 1 forwards;
}

.voter-name, .vote-point {
  opacity: 0;
  display: flex;
  align-items: center;
}

.vote-point.fade-out {
  animation: fade_out 0.5s ease-in 0s forwards 1;
}

.team-container {
  display: flex;
  flex-flow: row-reverse wrap;
}

.choice-container {
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.team-member {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
  margin: 2px 2px 2px 2px;
}

.team-member .fa {
  cursor: pointer;
}

.voter-name.fade-in, .vote-point.fade-in {
  animation: fade_in 0.5s ease-out 0.6s 1 forwards;
  cursor: pointer;
}

.choice-container {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}


#btn-select-teams {
  opacity: 0;
  animation: fade_in 1s ease-out 2s 1 forwards;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes shrink {
  to {
    width: 0px;
  }
}

@keyframes height_shrink {
  from {
    height: 100%;
  }

  to {
    height: 0px;
  }
}
