{% extends 'base.html' %}
{% block page_content %}
  <div class="center-wrapper">
    <div id="poll_wrapper">
      <div id="choice_list">
        {% for choice in poll.choices %}
          <div class="choice">
            <span id="{{ choice.id }}">{{ choice.value }}</span>
            <div class="move-wrapper">
              <i class="fa fa-angle-up up pointer" aria-hidden="true"></i>
              <i class="fa fa-angle-down down pointer" aria-hidden="true"></i>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="choice_plus_list">
        {% for i in range(poll.final_pick) %}
          <div class="choice-plus">
            <span>+{{ poll.final_pick - i }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
    <form id="poll_form" action="" method="post">
    <div id="vote_wrapper">
      <input id="input_voter_name" placeholder="Full name" type="text" name="voter_name" value="">
      <button class="btn bg-blue text-white" type="submit">Vote</button>
    </div>
    </form>
  </div>
  <script type="text/javascript" src="../static/js/poll.js">
  </script>
  <script type="text/javascript">
    poll_init({{ poll.final_pick }});
  </script>
  <style>
    {% set color_list = ['#00695C', '#FF9800', '#9575CD', '#8D6E63', '#78909C'] %}
    {% set text_color = '#FFFFFFDE' %}
    {% for i in range(poll.final_pick) %}
      .choice-plus:nth-child({{ i + 1 }}) span {
        color: {{ color_list[i] }};
        border: none;
      }
    {% endfor %}
  </style>
{% endblock %}
