{% extends 'base.html' %}
{% block page_content %}
<div id="choice-list-wrapper" class="center-wrapper">
  <script type="text/javascript" src="../static/js/create_poll.js">
  </script>
  <div class="">

    <form class="form-choice" action="" method="post">
      <div id="choice_list_wrapper">
        <div class="choice-wrapper">
          <input autocomplete="off" id="input_new_choice" class="input-choice" type="text" placeholder="New choice">
          <i id="btn_add_choice" class="fa fa-plus pointer text-green choice-action" aria-hidden="true"></i>
        </div>
      </div>
      <input id="input_final_pick_count" type="number" name="final_pick" value="">
      <div id="poll-create-wrapper">
        <select id="sel_final_pick_count">
          <option value="">-- Final pick --</option>
          <option value="">1</option>
          <option value="">2</option>
        </select>
        <button class="btn bg-blue text-white" id="btn-create-poll">Create</button>
      </div>

    </form>
  </div>
</div>
{% endblock %}
